.site__header{
    
    margin: 0 auto;
    margin-top: 43px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

    &-link{

    }
    &--list{
        width: 283px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &--item{
         color: #83888F;
         font-family: Barlow;
         font-size: 12px;
         font-style: normal;
         font-weight: 700;
         line-height: 15px;
         letter-spacing: 0.923px;
         text-transform: uppercase;
         &:hover{
            color: black;
            transition: 0.9s all;
         }
    }
}