.site__footer{
    display: flex;
    align-items:center;
    margin-bottom: 0px;
    background-color: #2C343E;
    padding: 47px 85px;
    margin-top: 100px;
    
    &-logo a img{
        margin-bottom: 5px;
    }
    &--list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 283px;
        margin-left: 102.9px;
        margin-right: 369.1px;
    }
    &--item{
        color: #83888F;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
        /* 125% */
        letter-spacing: 0.923px;
        text-transform: uppercase;

        &:hover{
            color: black;
            transition: 0.5s all;
        }
    }
     

    &--logolist{
          width: 120px;
          display: flex;
          align-items: center;
          justify-content: space-between;
         
    }
}